
<div class="panel panel-default">
<div class="panel-heading"><h2>About Us</h2></div>
<div class="panel-body">


<p> Tigse - a tibetan word for proportion.</p>

</div>
<div class= "panel-footer"> </div>
</div>